<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
  @for (topic of topics(); track topic.id) {
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ topic.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="m-0">{{ topic.description }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-raised-button
          class="mdd-raised"
          (click)="subscribe(topic.id)"
          [disabled]="isSubscribed(topic.id)"
        >
          {{ isSubscribed(topic.id) ? "Déjà abonné" : "S'abonner" }}
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
